:root {
    --transparent0: rgba(0, 0, 0, .0);
    --transparent8: rgba(0, 0, 0, .8);
    --light: hsl(0, 0%, 92%);
    --dark: hsl(0, 0%, 12%);
    --givry: hsl(44, 80%, 85%);
    --auburn: hsl(0, 75%, 65%);
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cairo', sans-serif;
    background-color: var(--light);
    color: var(--light);
    background-image: url(./img/arseniy-chebynkin-kitnl.jpg);
    background-attachment: fixed;
    background-size: 104% 104%;
    /* background-size: cover; */
    background-position: center center;
} 

button {
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--light);
    font-family: 'Cairo', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: var(--light);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Merienda', cursive;
    text-align: center;
}

button:hover,
button:focus-visible, 
a:hover,
a:focus-visible{
    text-decoration: underline;
    text-underline-offset: 30%;
    color: var(--givry);
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--transparent8);
}

header h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem 1rem 1rem 1rem;
}

header nav {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

header nav button{
    margin: 1rem;
    font-size: 1.2rem;
    background: var(--transparent0);
}

.nav-btn.active {
    color: var(--auburn);
    text-decoration: underline;
    text-underline-offset: 30%;
}

div.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--midnight-blue);
    background-color: var(--transparent0);
}

div.content > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: .5rem;
    background-color: var(--transparent8);
    border-radius: 3px;
}

div.content > div > div,
div.content > div > div > div {
    padding: 1rem;
}

.div-combo {
    padding: 0!important;
    display: flex;
    flex-direction: row;
}

.div-combo div:nth-child(1) {
    background-color: var(--transparent8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.review {
    max-width: 50ch;
}

.review p {
    padding: .1rem;
}

.review p::before,
.review p::after {
    content: '"';
    font-size: 1.3rem;
    color: gray;
}

.right {
    text-align: right;
    font-weight: bolder;
}

.right::before {
    content: "- ";
}

h3 {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h5::before {
    content: "\00A5";
}

h5 {
    text-align: right;
}

.content > div > div.food {
    background-color: var(--transparent8);
    border-radius: 3px;
    margin-top: 1rem;
}

.content > div > div.food img {
    width: 100%;
    max-width: 50ch;
}

.content div.contact p {
    width: 100%;
}

.content div.contact p span {
    float: right;
}

.content div.contact img,
.hero img {
    width: 100%;
    max-width: 60ch;
    object-fit: cover;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
}

footer div{
    margin: .5rem 1rem;
    font-size: .9rem;
}

i {
    font-size: 1.2rem;
}

footer div a {
    font-size: 1rem;  
}

@media only screen and (max-width: 750px) {
    header h1 {
        font-size: 2.5rem;
        padding: 1rem .5rem .5rem .5rem;
    }
    header nav button {
        margin: .5rem 1rem;
    }
    .div-combo {
        flex-direction: column;
    }
    h2 {
        font-size: 1.7rem;
    }
    footer {
        flex-direction: column;
    } 
}